<div data-controller="product-export">
  <div data-product-export-target="status"></div>
  <div data-product-export-target="jobid" class="hidden"><%= @job_id %></div>
  <div data-product-export-target="filenumber" class="hidden"><%= @file_number %></div>
  <a data-product-export-target="download" class="hidden" download>Download</a>
</div>
